<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.helppeopletogether">

    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".registration.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.Registration"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".registration.Agreement"

            android:label="Соглашение"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fragmentsFormNavigationDrawer.NewsNavigationDrawer"
            android:label="@string/title_activity_news_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".fragmentsFormNavigationDrawer.NewsDeatils"
            android:label="NewsDeatils" />
        <activity
            android:name=".fragmentsFormNavigationDrawer.NextPostAdvertisementFragment"
            android:label="NextPostAdvertisementFragment" />
        <activity
            android:name=".fragmentsFormNavigationDrawer.DescriptionProblem"
            android:label="DescriptionProblem" />

    </application>

</manifest>
